In [ ]:
import pandas as pd
import sklearn as sk
from sklearn.feature_extraction.text import CountVectorizer
import re 
import string

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
text = pd.read_excel('/content/drive/MyDrive/Eduardo_Shitara/I2A2-Manufactoring/Atividade 2/Dataset.xlsx')
text

                                               Texto
0  Fusce risus ex, posuere at ante at, condimentu...
1  Phasellus vitae elit efficitur, varius felis i...
2  Curabitur vestibulum lorem diam, nec dictum le...
3  Curabitur facilisis elementum ligula vitae pel...

In [ ]:
def remove_punct(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [ ]:
text['Texto'] = text.Texto.map(remove_punct)
text

                                               Texto
0  fusce risus ex posuere at ante at condimentum ...
1  phasellus vitae elit efficitur varius felis id...
2  curabitur vestibulum lorem diam nec dictum lec...
3  curabitur facilisis elementum ligula vitae pel...

In [ ]:
index = text.iloc[:, 0]
index

0    fusce risus ex posuere at ante at condimentum ...
1    phasellus vitae elit efficitur varius felis id...
2    curabitur vestibulum lorem diam nec dictum lec...
3    curabitur facilisis elementum ligula vitae pel...
Name: Texto, dtype: object

In [ ]:
def getuniquewords(dataset,n):
  coluna = dataset.iloc[:, n] 
  list_words = []
  count = 0
  while count < len(dataset.index):
    list_words = list_words+coluna[count].split()
    count = count+1
  list_words=list(set(list_words))
  return list_words

In [ ]:
final_list=getuniquewords(text,0)
final_list

['quisque',
 'hac',
 'facilisi',
 'efficitur',
 'senectus',
 'donec',
 'nibh',
 'per',
 'ad',
 'aptent',
 'et',
 'nostra',
 'integer',
 'sodales',
 'vulputate',
 'imperdiet',
 'consequat',
 'eros',
 'lectus',
 'fusce',
 'scelerisque',
 'ultricies',
 'venenatis',
 'netus',
 'pharetra',
 'habitasse',
 'sollicitudin',
 'sociosqu',
 'tempor',
 'urna',
 'conubia',
 'consectetur',
 'elit',
 'duis',
 'taciti',
 'id',
 'tincidunt',
 'volutpat',
 'sem',
 'feugiat',
 'ligula',
 'diam',
 'maximus',
 'at',
 'vestibulum',
 'eget',
 'egestas',
 'risus',
 'sed',
 'nullam',
 'fermentum',
 'inceptos',
 'vel',
 'aenean',
 'mi',
 'turpis',
 'tristique',
 'vehicula',
 'mattis',
 'proin',
 'ac',
 'platea',
 'in',
 'accumsan',
 'dui',
 'erat',
 'arcu',
 'leo',
 'elementum',
 'lorem',
 'dictumst',
 'a',
 'dolor',
 'lobortis',
 'luctus',
 'nec',
 'orci',
 'nisi',
 'suscipit',
 'porttitor',
 'ante',
 'dignissim',
 'amet',
 'finibus',
 'laoreet',
 'ipsum',
 'ultrices',
 'phasellus',
 'nulla',
 'mollis',
 'congue',
 'pulvinar',
 'mauris',
 'fames',
 'viverra',
 'varius',
 'facilisis',
 'est',
 'curabitur',
 'ex',
 'vitae',
 'odio',
 'justo',
 'eleifend',
 'praesent',
 'nunc',
 'vivamus',
 'gravida',
 'neque',
 'quam',
 'ornare',
 'felis',
 'condimentum',
 'habitant',
 'pretium',
 'quis',
 'ut',
 'himenaeos',
 'pellentesque',
 'litora',
 'posuere',
 'sagittis',
 'eu',
 'nisl',
 'massa',
 'dictum',
 'auctor',
 'metus',
 'morbi',
 'torquent',
 'sit',
 'class',
 'sapien',
 'porta',
 'semper',
 'tempus',
 'dapibus',
 'bibendum',
 'rutrum',
 'velit',
 'malesuada',
 'libero']

In [ ]:
def text_toMatrix (dataset,n):
  columns1=getuniquewords(dataset,n)
  column_name=dataset.columns[n]
  dataframe = pd.DataFrame(columns=columns1)
  line = [0]*len(columns1)
  count1 = 0
  while count1 < len(dataset.index):
    count = 0
    while count < len(columns1):
      word_counted = dataframe.columns[count]
      line[count] = dataset[column_name][count1].count(word_counted)
      count += 1
    count_row = pd.Series(line, index = dataframe.columns)
    dataframe = dataframe.append(count_row, ignore_index=True)
    count1 += 1
  return dataframe

In [ ]:
matrix = text_toMatrix(text,0)
matrix

  quisque hac facilisi efficitur  ... rutrum velit malesuada libero
0       0   0        0         0  ...      0     0         0      0
1       0   1        0         1  ...      1     1         1      1
2       1   0        0         0  ...      0     1         0      0
3       0   0        2         0  ...      0     0         0      1

[4 rows x 142 columns]